import React from "react";
import Login from "./Login";
import FileUpload from "./FileUpload";
import QnA from "./QnA";

function App() {
  return (
    <div style={{ textAlign: "center", marginTop: "50px" }}>
      <h1>Welcome to My Awesome Website!</h1>
      <Login />
      <FileUpload />
      <QnA />
    </div>
  );
}

export default App;

<<<<<<< HEAD

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 1b108f0 (Fixed App.css syntax error)
